:root {
  --primary-color: #d3cece;
  --scroll-and-navbar-color: #6a6a6a;
  --bg-color-primary: #111113;
  --bg-color-secondary: #171625;
  --bg-button-color: #f05908;

  /* Sombras */
  --box-shadow: 0px 10px 100px #0000001a;

  /* height */
  --header-height: 60px;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;

  *, *::before, *::after {
    box-sizing: inherit;
  }

  body {
    font-family: "Poppins", sans-serif;
    background-color: var(--bg-color-primary);
    margin: 0;
    color: var(--primary-color);
    overflow-x: hidden;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  a {
    text-decoration: none;
  }

  img {
    max-width: 100%;
    height: auto;
    display: block;
  }

  /* Scrollbar */
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scroll-and-navbar-color);
    border-radius: 4px;
  }
}

.grid--container {
  max-width: 1024px;
  display: grid;
  margin: 0 auto;
  padding: 0 18px;
}

.flex--container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.section {
  padding: 4rem 0;
}

.btn {
  color: var(--primary-color);
  background-color: var(--bg-button-color);
  transition: all .2s ease-in-out;
}

/* Loader */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color-primary);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 105; */
  opacity: 1;
  visibility: visible;
  transition: opacity .4s, visibility .4s;

  .loader__logo {
    width: 40px;
    height: 40px;
    --c: no-repeat linear-gradient(#eb4431 0 0);
    background: var(--c), var(--c), var(--c), var(--c);
    background-size: 21px 21px;
    animation: l5 1.5s infinite cubic-bezier(0.3, 1, 0, 1);
  }
}

/* Clase que se añadira a JS */
.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

/* Header - NAV */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  background-color: transparent;
  z-index: 2;
  animation: animation-navbar linear both;
  animation-timeline: scroll(root block);
  animation-range: 0 200px;

  .navbar {
    justify-content: space-between;
    padding: 0.6em;

    a {
      color: var(--primary-color);
    }

    .navbar__logo {
      font-size: 20px;
      margin-left: 14px;
    }

    .navbar__menu {
      position: fixed;
      top: 0;
      left: 500%;
      width: 100%;
      background-color: var(--bg-color-primary);
      box-shadow: 0 1px 9px 2px #00000024;
      padding: 2rem 0;
      z-index: 2;
      transition: left 1.1s;

      &:target {
        left: 0;
      }

      .navbar__list {
        flex-direction: column;
        gap: 20px;

        .navbar__item .navbar__link {
          font-size: 1.1rem;
          font-weight: 600;
          transition: color .3s;

          &:hover {
            color: var(--bg-button-color)
          }
        }

        .active {
          border-bottom: 2px solid #eb4431;
        }
      }

      .btn__close {
        position: absolute;
        top: 27px;
        right: 10px;
        background-color: #6a6a6a;
        width: 26px;
        height: 26px;
        border-radius: 50%;

        &:hover {
          background-color: #dfdfdf;
        }
      }
    }

    /* Toggle language */
    .navbar__toggles {
      gap: 1rem;

      .navbar__toggle--language {
        .navbar__toggle--language-label {
          width: 42px;
          height: 20px;
          position: relative;
          display: block;
          background-color: #f9f8f8;
          border-radius: 20px;
          box-shadow: inset 0 2px 5px #00000066, inset 0 -2px 5px #ffffff66;
          cursor: pointer;
          transition: 0.3s;

          &::after {
            content: '';
            width: 16px;
            height: 16px;
            position: absolute;
            top: 2px;
            left: 2px;
            background-image: url(../img/england.png);
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 50%;
            box-shadow: 0 5px 10px #00000033;
            transition: 0.3s;
          }

        }

        .navbar__toggle--language-input {
          visibility: hidden;

          &:checked+label {
            &::after {
              left: 40px;
              transform: translateX(-100%);
              background-image: url(../img/espana.png);
            }
          }
        }
      }
    }
  }

  .btn__open, .btn__close i {
    font-size: 2.2rem;
    color: var(--primary-color);
  }
}

/* Home */

.home {
  position: relative;
  overflow: hidden;

  .home__layer {
    font-size: 65px;
    position: absolute;

  }

  .home__layer--1 {
    top: 15%;
    left: 80%;
  }

  .home__layer--2 {
    top: 60%;
    left: 6%;
  }

  .home__layer--3 {
    top: 58%;
    left: 85%;
  }

  .home__layer--4 {
    top: 23%;
    left: 70%;
  }

  .home__layer--5 {
    top: 20%;
    left: 50%;
  }

  .home__layer--6 {
    top: 13%;
    left: 2%;
  }

  .home__layer--7 {
    top: 37%;
    left: 11%;
  }

  .home__layer--8 {
    top: 23%;
    left: 26%;
  }

  .home__layer--9 {
    top: 46%;
    left: 55%;
  }

  .profile__container {
    position: relative;
    padding: var(--header-height) 0 3rem;

    .profile__img {
      width: clamp(min(320px, 100%), 85vw, 445px);
      height: auto;
      margin: 0 auto;
    }

    .home__social {
      position: absolute;
      display: flex;
      flex-direction: column;
      top: 10rem;
      right: 1.4rem;
      row-gap: 11px;

      .home__social-link {
        color: #888;
        font-size: 1.8rem;

        &:hover {
          color: var(--primary-color);
        }
      }
    }
  }

  .home__info {
    text-align: center;

    .home__title {
      letter-spacing: .8px;
      white-space: nowrap;
      margin: .6em auto 0;
      border-right: 4px solid #c7bfbf;
      overflow: hidden;
      width: 18ch;
      animation: typing 2.75s infinite steps(19) alternate, blinking 0.36s infinite step-end alternate;
    }

    .home__description {
      text-wrap: balance;
      padding-bottom: .8em;
      margin-top: 11px;
    }

    .text__strong {
      font-weight: bold;
      color: var(--bg-button-color)
    }

    .home__button {
      .btn--primary {
        padding: 14px 18px;
        border-radius: 6px;

        &:hover {
          background-color: #e86a26;
        }
      }
    }
  }
}

/* Skills */

.skills {
  background-color: var(--bg-color-secondary);
  border-radius: 4px;
  text-align: center;

  .skills__title {
    font-size: 2.2rem;
    margin: 0;
  }

  .skills__container {

    .skills__description {
      font-size: 1.4rem;
      text-wrap: balance;
    }

    .skills__wrapper {
      .skills__cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
        width: 100%;

        .skills__container-details {
          background-color: var(--bg-button-color);
          width: inherit;
          height: 125px;
          padding: 25px;
          border-radius: 9px;
          transition: 0.5s cubic-bezier(0.6, -0.28, 0.735, 0.045);
          overflow: hidden;
          cursor: pointer;

          .skills__container-summary {
            list-style: none;
            /* height: 100%; */
            align-items: start;

            .bx {
              font-size: 3.5rem;
            }
          }

          &[open] {
            height: 200px;

            .skills__cards-title {
              height: auto;
            }
          }
        }

        .load__bar {
          border: 2px solid var(--bg-color-secondary);
          border-radius: 10px;
          padding: 2px;

          .load__bar-bar {
            background-color: var(--bg-color-secondary);
            border-radius: 8px;
            padding: 2px 10px;
            text-align: start;
          }

          .bar--50 {
            width: 50%;
          }

          .bar--60 {
            width: 60%;
          }

          .bar--45 {
            width: 45%;
          }

          .bar--loading {
            display: flex;
            justify-content: center;
            /* align-items: baseline; */
            gap: 5px;
          }
          .span__dots {
            color: transparent;
          }
          .blink__loading {
            width: 12px;
            aspect-ratio: 2;
            --_g: no-repeat radial-gradient(circle closest-side, #d3cece 90%, #d3cece00);
            background:
              var(--_g) 0% 50%,
              var(--_g) 50% 50%,
              var(--_g) 100% 50%;
            background-size: calc(100%/3) 50%;
            animation: blinking-load 1s infinite linear;
          }
        }
      }
    }

    .skills__tags {
      flex-direction: column;
      margin-top: 1.25em;

      .skills__tags-container {
        flex-wrap: wrap;
        gap: 1rem;
      }

      .skills__tag {
        display: inline-block;
        background-color: var(--primary-color);
        color: var(--scroll-and-navbar-color);
        padding: 10px 18px;
        border-radius: 5px;

      }

      .skills__tags-name {
        font-size: 1.75rem;
        font-weight: 500;
      }

    }
  }
}

/* Portafolio */
.portfolio {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-evenly;

  .portfolio__title {
    font-size: 2.6rem;
    margin-bottom: 0;
  }

  .portfolio__container {
    display: grid;
    max-width: 1200px;
    margin: auto;
    width: 100%;
    gap: 12px;
    padding: 12px;
    min-height: 90dvh;
  }

  .portfolio__project {
    display: grid;
    place-content: center;
    background-image: linear-gradient(#0009, #0009), url(../img/foto.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 11px;
    animation: show-projects linear both;
    animation-timeline: view();
    animation-range: cover 10% cover 40%;

    &:hover {
      opacity: 0.74;
      outline: 1px solid #fff6;
    }
  }
}

/* Contact */
.contact__container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .contact__info {
    .contact__title {
      font-size: 2rem;
      text-align: center;
    }

    .contact__description {
      font-size: 1.5rem;
      font-weight: 300;
    }

    a {
      color: var(--primary-color);

      &:active {
        color: var(--bg-button-color)
      }
    }
  }

  .contact__form {
    font-size: 1.1rem;
    font-weight: 300;

    .contact__form-container {
      max-width: 800px;
      margin: 0 auto;

      .form__group {
        margin-bottom: 26px;
      }

      .contact__form-label {
        display: block;
        margin-bottom: 9px;
      }

      .contact__form-input {
        width: 100%;
        font-size: 1.2rem;
        font-weight: 500;
        padding: .8rem;
        border: none;
        border-radius: 7px;
      }

      textarea {
        resize: vertical;
        font-family: inherit;
      }

      .form__button {
        border: 0;
        display: block;
        margin: 1.2em auto 0;
        padding: 10px 35px;
        font-family: inherit;
        font-size: 1rem;
        font-weight: bold;
        border-radius: 4px;

        &:hover {
          background-color: #FBAB7E;
        }

      }
    }
  }
}

/* Footer */
.footer {
  background-color: var(--bg-color-secondary);
  padding-bottom: 2rem;

  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    .footer__social {
      .footer__social-title {
        font-size: 1.4rem;
        margin: 0;
      }

      .footer__social-list {
        display: flex;
        justify-content: center;
        gap: 20px;
        font-size: 1.2rem;

        .footer__social-link {
          color: var(--scroll-and-navbar-color);

          .btn__facebook-footer:hover {
            color: #1c24c1;
          }

          .btn__instagram-footer:hover {
            color: #cd486b;
          }

          .btn__twitter-footer:hover {
            color: #111;
          }

          .btn__linkedin-footer:hover {
            color: #ddd;
          }
        }
      }
    }

    .footer__info {
      .footer__copy {
        text-align: center;
        text-wrap: balance;
      }
    }
  }
}

/* --- Media Queries --- */
@media (width >=768px) {
  :root {
    --header-height: 90px;
  }

  .header {
    .navbar {
      padding: 0 1.5em;

      .navbar__menu {
        position: unset;
        background-color: transparent;
        border-radius: none;
        box-shadow: none;

        .navbar__list {
          flex-direction: row;
        }

        .btn__close {
          display: none;
        }
      }

      .btn__open {
        display: none;
      }
    }
  }

  .home {
    .profile__container {
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      place-items: center;

      .profile__img {
        width: clamp(min(375px, 100%), 48vw, 500px);
        grid-column: 3 / 2;
        grid-row: 2 / 1;
      }

      .home__social {
        position: relative;
        flex-direction: row;
        top: 0;
        left: 0;
        gap: 1.5rem;
        grid-row: 2 / 3;

      }

      .home__info {
        .home__title {
          font-size: 1.8rem;
        }

        .home__description {
          font-size: 1.2rem;
        }
      }
    }
  }

  .skills {
    .skills__container {
      .skills__wrapper {
        .skills__cards {
          flex-direction: row;

          .skills__container-details {
            height: 200px;
            width: 200px;

            &[open] {
              height: 200px;
              width: inherit;
            }
          }
        }
      }
    }
  }

  .contact__form {
    .contact__form-container {
      .form__group {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
      }
    }
  }
}

@media (width >=900px) {
  .portfolio__container {
    grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  }

  .portfolio__project:first-child {
    grid-column: span 2;

  }

  .portfolio__project:nth-child(6) {
    grid-column: span 2;
  }
}




/* Animaciones */
/* Loader */
@keyframes l5 {
  0% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%
  }

  33% {
    background-position: 0 0, 100% 0, 100% 100%, 0 100%;
    width: 60px;
    height: 60px
  }

  66% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0;
    width: 60px;
    height: 60px
  }

  100% {
    background-position: 100% 0, 100% 100%, 0 100%, 0 0
  }
}

/* --Header-- */
@keyframes animation-navbar {
  to {
    background-color: var(--scroll-and-navbar-color);
    backdrop-filter: blur();
    box-shadow: var(--box-shadow);
  }
}

/* Portfolio */
@keyframes show-projects {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }

}

/* Typing */
@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }

}

/* Blink loading skills */
@keyframes blinking-load {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%
  }

  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%
  }

  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%
  }

  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%
  }
}